# dependencies
node_modules
**/node_modules

# next
.next
.next*
**/.next
**/.next*
**/.turbo

# build
dist
build
out

# test
coverage
playwright-report
test-results

# env
.env
.env.local
.env.*.local

# system
.DS_Store

# logs
*.log